<footer class="footer">
    <div class="foot-ter">
        <div class="foot-icon">
            <h2>Follow US</h2>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="foot-text">
            <h2>Book Ticket</h2>
            <a href="#train">Train</a>
            <a href="#bus">Bus</a>
            <a href="#flight">Flight</a>
        </div>
    </div>
    <p class="copyright"><i class="fa-regular fa-copyright"></i> Naresh 2025</p>